<div class="container-fluid footer mt-5">
    <div class="row">
        <!-- website name -->
        <div class="col-lg-4 mt-3 mb-3">
            <h1>Pause and Play</h1>
            <p>Rarità e desideri in vinile</p>
        </div>
        <!-- nav -->
        <div class="col-lg-4 mt-3 mb-3">
            <a routerLink="">Home</a>
            <a routerLink="shop">Shop</a>
            <a routerLink="about">About</a>
            <a routerLink="contact">Contact</a>
        </div>
        <!-- socialmedia -->
        <div class="col-lg-2 mt-3 mb-3">
            <a href="#" target="_blank"><i class="bi bi-facebook"></i></a>
            <a href="#" target="_blank"><i class="bi bi-whatsapp"></i></a>
            <a href="#" target="_blank"><i class="bi bi-instagram"></i></a>
            <a href="#" target="_blank"><i class="bi bi-youtube"></i></a>
        </div>
    </div>
</div>
