<div class="container mt-5 mb-5">
    <h1 class="text-center">About</h1>
    <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem debitis architecto sint maiores unde sapiente
        quasi? Magnam esse tempore molestias sequi suscipit nesciunt blanditiis, fuga expedita numquam harum
        facilis.
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ipsa praesentium, officia temporibus voluptas sed
        earum accusantium voluptatibus, dolor ullam modi commodi molestias iste quas vel aperiam inventore nemo
        accusamus! Harum!
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Necessitatibus architecto doloremque totam eos
        asperiores, cum porro fugit repudiandae saepe enim ea. Nemo quod tenetur vero libero architecto voluptatibus
        minima facilis?
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam iusto illo dolores impedit aliquam amet hic atque
        voluptate nisi recusandae sint, voluptatem reprehenderit tenetur aspernatur ducimus! Nisi dolorem blanditiis
        numquam!
        <br>
        <br>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse dolor autem voluptas, dignissimos, officia, illo
        at dolorum blanditiis asperiores magnam non sunt similique rerum in. Velit dolor recusandae modi laborum?
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugit, qui mollitia omnis atque nisi quibusdam tempore
        sapiente modi magnam quisquam illum voluptatum dolor dolore eveniet a inventore porro voluptate aliquid.
        <br>
        <br>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Eum molestiae, laborum officiis saepe nostrum odio? Eos
        nulla mollitia dicta corrupti iusto ducimus itaque modi pariatur quisquam, eligendi natus quis at.
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni quae nihil tempore consequatur ea odit, saepe sit
        magnam, atque officia, sequi vitae asperiores libero suscipit iusto. Quod atque nostrum minus.
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Tenetur molestiae facere quod voluptas praesentium,
        ipsum facilis ratione, ex esse distinctio sint modi commodi dignissimos voluptates quae sit enim pariatur animi.
    </p>
</div>