<div class="container mt-5 mb-5">
    <div class="row">
        <div class="col-lg-4" *ngFor="let disco of discoData">
            <div class="discoBox mt-3 mb-3">
                <img src="{{disco.discoImg}}">
                <h1>{{disco.discoName}}</h1>
                <h2>{{disco.discoAuthor}}</h2>
                <p>{{disco.discoDetails}}</p>
                <p>{{disco.discoPrice | currency:'EUR' }}</p>
                <br>
                <a class="buybtn" [routerLink]="['/shop', disco.id]">Buy Now &nbsp;<i class="bi bi-bag"></i> </a>
            </div>
        </div>
    </div>
</div>
